<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="Project.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>
        KM Tutors, LLC
    </title>
</head>

<body>
    <div class="header">
        <img src="IMG_3268 copy.png" class="logo">
        <div class="text">
            <p>KM Tutors, LLC</p>
            <p>Math, Science & Writing in Houston</p>
            <a class="button button-active home-signup-desktop" href="#">Give us a free try</a>
        </div>
    </div>
    <section>

        <div class="arrow">
            <img src="arrow-simple-thin-down-512.png">
        </div>
        <h1>
        The Tutors
        </h1>

<div>
         <script type="Keya" id="github_profile_template">
        <div class="profile">
            <img src="<%= avatar_url %>">
            <h2><a href="<%= html_url %>" target="_blank">@<%=login%></a></h2>
            <hr>
            <ul>
                <li><strong>Name:</strong> <%= name %></li>
                <li><strong>Blog:</strong> <a href="<%= blog %>"><%= blog %></a></li>
                <li><strong>Location:</strong> <%= location %></li>
                <li><strong>Company:</strong><%= company %>  </li>
                <li><strong>Bio:</strong><%= bio %></li>
                <li><strong>Following:</strong><%= following %></li>
                <li><strong>Hireable:</strong><%=hireable%></li>
                <li><strong>id:</strong><%= id %></li>
               
                
            </ul>
    </div>

    </script></div>

        <div>
             <script type="Melissa" id="github_profile_template">
        <div class="profile">
            <img src="<%= avatar_url %>">
            <h2><a href="<%= html_url %>" target="_blank">@<%=login%></a></h2>
            <hr>
            <ul>
                <li><strong>Name:</strong> <%= name %></li>
                <li><strong>Blog:</strong> <a href="<%= blog %>"><%= blog %></a></li>
                <li><strong>Location:</strong> <%= location %></li>
                <li><strong>Company:</strong><%= company %>  </li>
                <li><strong>Bio:</strong><%= bio %></li>
                <li><strong>Following:</strong><%= following %></li>
                <li><strong>Hireable:</strong><%=hireable%></li>
                <li><strong>id:</strong><%= id %></li>
               
                
            </ul>
    </div>
    <div class="footer">
        <div class="list">
            <h3>FAQ</h3>
            <ul class="faq">
                <li>Question01</li>
                <li>Answer01</li>
                <li>Question02</li>
                <li>Answer02</li>
                <li>Question03</li>
                <li>Answer03</li>
            </ul>
        </div>
        <div class="contact">
            <ul>
                <li>tell:(713)401-8130</li>
                <li>email:keya@kmtutors.com</li>
            </ul>
        </div>
    </div>
    <div class="fun">Lovingly made in Houston</div>
    </section>
    </script></div>


        
    
    <script type="./HW13.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src='./Project.js'></script>
</body>

</html>
